


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";





SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."historial_operaciones" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "mercado_id" "uuid",
    "tipo_voto" "text",
    "precio_pagado" numeric,
    "creado_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."historial_operaciones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."mercados" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "titulo" "text" DEFAULT ''::"text" NOT NULL,
    "imagen_url" "text" DEFAULT 'http://127.0.0.1:54321/storage/v1/object/public/mercados/placeholder.png'::"text" NOT NULL,
    "precio_si" double precision DEFAULT '0'::double precision NOT NULL,
    "precio_no" double precision DEFAULT '0'::double precision NOT NULL,
    "finalizado" boolean DEFAULT false NOT NULL,
    "descripcion" "text" DEFAULT ''::"text" NOT NULL,
    "categoria" "text" DEFAULT ''::"text"
);


ALTER TABLE "public"."mercados" OWNER TO "postgres";


ALTER TABLE ONLY "public"."historial_operaciones"
    ADD CONSTRAINT "historial_operaciones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."mercados"
    ADD CONSTRAINT "mercados_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."historial_operaciones"
    ADD CONSTRAINT "historial_operaciones_mercado_id_fkey" FOREIGN KEY ("mercado_id") REFERENCES "public"."mercados"("id");





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."mercados";






GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";














































































































































































GRANT ALL ON TABLE "public"."historial_operaciones" TO "anon";
GRANT ALL ON TABLE "public"."historial_operaciones" TO "authenticated";
GRANT ALL ON TABLE "public"."historial_operaciones" TO "service_role";



GRANT ALL ON TABLE "public"."mercados" TO "anon";
GRANT ALL ON TABLE "public"."mercados" TO "authenticated";
GRANT ALL ON TABLE "public"."mercados" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































